:root {
  --body-background-color: #ffffff;
  --header-border-color: #e7e9fc;
  --hero-title-color: #ffffff;
  --body-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --logo-color: #4d5ae5;
  --header-logo-color: #2e2f42;
  --button-text-color: #ffffff;
  --button-bg-color: #4d5ae5;
  --button-hover-color: #404bbf;
  --footer-logo-color: #f4f4fd;
  --footer-text-color: #f4f4fd;
  --footer-social-text-color: #ffffff;
  --footer-social-icon-color: #f4f4fd;
  --footer-social-link-color: #4d5ae5;
  --active-footer-link-color: #31d0aa;
  --dark-section-color: #2e2f42;
  --light-section-color: #f4f4fd;
  --advantage-thumb-bg-color: #f4f4fd;
  --team-social-bg-color: #4d5ae5;
  --team-social-icon-color: #f4f4fd;
  --active-team-social-icon-color: #404bbf;
  --customers-icon-color: #8e8f99;
  --customers-item-border-color: #8e8f99;
  --customers-link-color: #8e8f99;
  --active-customers-item-border-color: #404bbf;
  --active-customers-icon-color: #404bbf;
  --non-active-color: #4d5ae5;
  --active-color: #404bbf;
  --portfolio-btn-text-color: #4d5ae5;
  --portfolio-btn-bg-color: #f4f4fd;
  --portfolio-btn-border-color: #e7e9fc;
  --portfolio-btn-active-text-color: #ffffff;
  --portfolio-btn-active-bg-color: #404bbf;
  --portfolio-overlay-bg-color: #4d5ae5;
  --portfolio-overlay-text-color: #f4f4fd;
  --portfolio-frame-border-color: #e7e9fc;
  --hover-portfolio-item-border-color: #f4f4fd;
  --modal-backdrob-color: rgba(46, 47, 66, 0.4);
  --modal-bg-color: #fcfcfc;
  --modal-btn-bg-color: #e7e9fc;
  --modal-icon-color: #2e2f42;
  --modal-input-border-color: rgba(46, 47, 66, 0.4);
  --modal-active-input-border-color: #4d5ae5;
  --modal-form-text: #8e8f99;
  --modal-input-placeholder: rgba(46, 47, 66, 0.4);
  --modal-form-icon-color: #2e2f42;
  --modal-active-form-icon-color: #4d5ae5;
  --modal-send-btn-bg-color: #4d5ae5;
  --modal-active-send-btn-bg-color: #404bbf;
  --modal-send-btn-shadow: rgba(0, 0, 0, 0.15);
  --modal-active-checkbox-icon-color: #f4f4fd;
  --animation-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --secondary-font: 'Raleway', sans-serif;
}
